// Nuancier

$color-black: #101010;
$color-dark: #333333;
$color-shadow: #444444;
$color-low: #777777;
$color-medium: #aaaaaa;
$color-light: #dddddd;
$color-white: #efefef;

$color-ok: #66aa66;
$color-warning: orange;
$color-alert: red;

// semantique

$color-back: #222222;
$color-fore: #cccccc;
$color-control: $color-light;
$color-selection: blue;

$control-border-radius: 0.4em;
$section-border-radius: 1em;

$margin: 1em;
