table.previsions-form {

    border: 0px solid;

    tr,
    td {
        border: 0px solid;
    }

    td.label {
        text-align: right;
        padding-right: 1em;
    }

    .date-part {
        width: 4em;
    }

}